
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Create</title>
</head>
<body>
    <div class="row">
        <form action="Create" method="post">
            姓名：<input type="text" name="productname">
            <input type="submit" />
            說明:學習用，除了姓名其他參數寫死，付款成功會導向預設首頁
        </form>
    </div>


</body>
</html>
